header {
  width: 100%;
  background-image: var(--backgroundGradient);
  color: var(--white);
  padding: 1rem 1.5rem;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  margin-bottom: 10px;
}

.headerLogoContainer {
  height: 40px;
  border-radius: 5px;
}

.headerLogo {
  border-radius: 5px;
  height: 100%;
}

.navContainer {
  display: flex;
  gap: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: var(--white);
  transition: transform 0.3s ease;
}

nav a:hover {
  color: var(--hoverColor); 
}

nav a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}