/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* All */
* {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color 0.5s ease-in-out;
}

/* Tags */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: var(--bodyBackground);
    margin: 0;
    flex-wrap: wrap;
}

/* Classes*/
.portfolio-box {
    width: 80%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--boxBorderColor);
    border-radius: 5px;
    background-color: var(--boxBackgroundColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--title);
}

.section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--subtitle);
    margin-bottom: 5px;
}

.description, .team, .images, .github-link {
    font-size: 16px;
    color: var(--text);
}

.images {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    overflow: hidden;
}

.images img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
    max-width: 100%;
    border-radius: 15px;
    height: auto;
    max-height: 100%;
    margin-top: 10px;
    box-shadow: 0 2px 4px var(--imageBoxShadow);
}

.images img.active {
    opacity: 1;
    z-index: 1; /* Garante que a imagem ativa estará acima das outras */
}

.images img:not(.active) {
    opacity: 0;
    z-index: 0; /* As imagens não ativas ficam atrás */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--arrowBackgroundColor);
    color: var(--white);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.arrow-left {
    left: 0px;
    border-radius: 0px 100% 100% 0px;
}

.arrow-right {
    right: 0px;
    border-radius: 100% 0px 0px 100%;
}

.github-link a {
    color: var(--linkColor);
    text-decoration: none;
    font-weight: bold;
}

.github-link a:hover {
    text-decoration: underline;
}