:root {
  /* darkMode.css */
  --sunBackgroundColor: #ffa800;
  --sunCheckedColor: #ffc500;
  --moonBackgroundColor: #434343;
  --moonCheckedColor: #1a1a1a;

  /* header.css */
  --backgroundGradient: linear-gradient(to right, rgb(94, 23, 235), rgb(0, 184, 255));
  --hoverColor: #ffc500;
  --white: #fff;

  /* style.css, defined in darkMode.js */
  --bodyBackground: #121212; /* Fundo escuro */
  --arrowBackgroundColor: rgba(255, 255, 255, 0.5); /* Fundo das setas claro */
  --imageBoxShadow: rgba(255, 255, 255, 0.1); /* Sombra da imagem clara */
  --boxBorderColor: #333; /* Borda escura */
  --boxBackgroundColor: #000; /* Fundo da caixa escuro */
  --linkColor: #99ccff; /* Link com tom claro */
  --title: #ccc; /* Título claro */
  --subtitle: #bbb; /* Subtítulo claro */
  --text: #aaa; /* Texto claro */
}